
body
{
/*margin-left:50px;*/
text-align:center;
color:blue;
position:relative;
width:900px;
height:700px;
font-family:"Times New Roman",Times,serif;
}

div.cont
{
width:900px;
height:600px;
position:absolute;
left:15%;
font-size:125%;
/*margin-left:400px;
margin-top:300px*/
}

dvi.menu
{

}

h1
{
text-align:center;
}

iframe
{
border:0px solid red;
}

td.switch
{
font-size:140%;
}
